asgiref==3.12.1
Django==4.2.16
django-cors-headers==4.9.0
djangorestframework==3.14.0
fuzzywuzzy==0.18.0
psycopg2-binary==2.9.12
python-dateutil==2.9.0.post0
python-dotenv==1.2.3
python-Levenshtein==0.27.5
RapidFuzz==3.14.6
sqlparse==0.6.0
gunicorn==21.2.0
dj-database-url==2.1.0
pandas==2.2.3